.hljs {
  color: #2F3941 !important; /* GREY-800 */
  background: #F8F9F9 !important; /* GREY-100 */
}

.hljs-comment,
.hljs-quote {
  color: #68737D !important; /* GREY-600 */
  font-style: italic !important;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #2F3941 !important; /* GREY-800 */
  font-weight: bold !important;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #335D63 !important; /* KALE-500 */
}

.hljs-string,
.hljs-doctag {
  color: #d14 !important;  /* GREY-100 */
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #8C232C !important; /* RED-700 */
  font-weight: bold !important;
}

.hljs-subst {
  font-weight: normal !important;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #56777A !important; /* KALE-400 */
  font-weight: bold !important;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #1F73B7 !important; /* BLUE-600 */
  font-weight: normal !important;
}

.hljs-regexp,
.hljs-link {
  color: #038153 !important; /* GREEN-100 */
}

.hljs-symbol,
.hljs-bullet {
  color: #990073 !important;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #5293C7 !important; /* BLUE-400 */
}

.hljs-meta {
  color: #999 !important;
  font-weight: bold !important;
}

.hljs-deletion {
  background: #F5B5BA !important; /* RED-300 */
}

.hljs-addition {
  background: #AECFC2 !important; /* GREEN-300 */
}

.hljs-emphasis {
  font-style: italic !important;
}

.hljs-strong {
  font-weight: bold !important;
}
