/**
 * Global styles for Styleguidist documentation
 */

html {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,Arial,sans-serif;
}

table tbody tr {
  border-bottom: 1px solid #e9ebed;
}
table tbody tr:hover {
  background-color: #edf7ff;
}

table th:first-child {
  width: 20%;
}

table th, table td {
  padding-left: 10px !important;
}
