.toggle {
  composes: c-chk c-chk--toggle from 'zd-css-forms';
}

.rtl {
  composes: is-rtl from 'zd-css-forms';
}

.focused {
  composes: is-focused from 'zd-css-forms';
}

.input {
  composes: c-chk__input from 'zd-css-forms';
}

.label {
  composes: c-chk__label from 'zd-css-forms';
}

.hint,
.muted {
  composes: c-chk__hint from 'zd-css-forms';
}

.disabled {
  composes: is-disabled from 'zd-css-forms';
}
