@import '@zendesk/garden-css-variables';

.stretched {
  flex: 1;
  width: 100%;
}

.txt {
  composes: c-txt from '@zendesk/garden-css-forms';
}

.message {
  composes: c-txt__message from '@zendesk/garden-css-forms';
}

.input {
  composes: c-txt__input c-txt__input--select from '@zendesk/garden-css-forms';
}

.is_focused {
  composes: is-focused from '@zendesk/garden-css-forms';
}

.label {
  composes: c-txt__label from '@zendesk/garden-css-forms';
}

.hint {
  margin-bottom: 8px;
  composes: c-txt__hint from '@zendesk/garden-css-forms';
}

.size_small {
  composes: c-txt--sm from '@zendesk/garden-css-forms';
}

.success {
  composes: has-success from '@zendesk/garden-css-forms';
}

.warning {
  composes: has-warning from '@zendesk/garden-css-forms';
}

.error {
  composes: has-error from '@zendesk/garden-css-forms';
}

.rtl {
  composes: is-rtl from '@zendesk/garden-css-forms';
}

.open {
  composes: is-open from '@zendesk/garden-css-forms';
}

.disabled {
  composes: is-disabled from '@zendesk/garden-css-forms';
}
