.pagination {
  composes: c-pagination from '@zendesk/garden-css-pagination';
}

.pagination:focus {
  outline: none;
}

.page {
  composes: c-pagination__page from '@zendesk/garden-css-pagination';
}

.no_animation {
  transition: none;
}

.page_previous {
  composes: c-pagination__page--previous from '@zendesk/garden-css-pagination';
}

.page_next {
  composes: c-pagination__page--next from '@zendesk/garden-css-pagination';
}

.page_gap {
  composes: c-pagination__page--gap from '@zendesk/garden-css-pagination';
}

.is_current {
  composes: is-current from '@zendesk/garden-css-pagination';
}

.is_focused {
  composes: is-focused from '@zendesk/garden-css-pagination';
}

.is_hovered {
  composes: is-hovered from '@zendesk/garden-css-pagination';
}

.is_hidden {
  composes: is-hidden from '@zendesk/garden-css-pagination';
}

.is_hidden[aria-hidden='true'] {
  display: inherit;
}

.is_rtl {
  composes: is-rtl from '@zendesk/garden-css-pagination';
}
