@import 'zd-css-variables';
@import './variables.css';

/* stylelint-disable declaration-no-important, max-line-length */
.type_default {
  border-color: var(--zd-accent-color) !important;
  color: var(--zd-accent-color) !important;
}

.type_basic {
  border-color: transparent !important;
}

.type_primary {
  background-color: var(--zd-accent-color) !important;
  color: var(--zd-color-white) !important;
}

.type_default.active:hover,
.type_primary.active:hover,
.type_default:hover,
.type_primary:hover {
  background-color: var(--zd-hover-color) !important;
  color: var(--zd-color-white) !important;
}

.type_default.active,
.type_primary.active {
  color: var(--zd-color-white) !important;
  background-color: var(--zd-accent-color) !important;
}

.type_default:active,
.type_primary:active,
.type_default.active:active,
.type_primary.active:active {
  background-color: var(--zd-active-color) !important;
}

.type_default.focused,
.type_default.focused:focus,
.type_primary.focused,
.type_primary.focused:focus {
  box-shadow: 0 0 0 3px var(--zd-focus-color) !important;
}

.disabled,
.disabled:active,
.disabled:hover {
  border-color: transparent !important;
  background-color: var(--zd-color-gainsboro) !important;
  color: var(--zd-color-white) !important;
}

.group > .type_default.focused {
  box-shadow: inset 0 0 0 3px var(--zd-focus-color) !important;
}

.group > .type_default.disabled {
  border-color: var(--zd-accent-color) !important;
  color: var(--zd-color-white) !important;
}
/* stylelint-enable */
