@import './variables.css';

/* stylelint-disable declaration-no-important */
.label::before,
.label::after {
  color: var(--zd-accent-color) !important;
}

.checked {
  color: var(--zd-accent-color) !important;
}

.checkbox.focused > .label::after {
  box-shadow: 0 0 0 2px var(--zd-focus-color) !important;
}

.label:active::after {
  background: no-repeat 50%/100% url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23FFF%22%20stroke-width%3D%221.5%22%20d%3D%22M4.5%207.19L6.76%209.5l2.744-5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E') var(--zd-active-color) !important;
}
/* stylelint-enable declaration-no-important */
