@import './variables.css';

/* stylelint-disable declaration-no-important */
.checkbox:not(.disabled) .label:active:after {
  border-color: var(--zd-accent-color) !important;
}

.checkbox.focused > .label::before {
  border-color: var(--zd-accent-color) !important;
  box-shadow: 0 0 0 3px var(--zd-focus-color) !important;
}

.checkbox.indeterminate > .label::before {
  border-color: var(--zd-accent-color) !important;
  background-color: var(--zd-accent-color) !important;
}

.checkbox:not(.disabled) .input:checked ~ .label:before {
  border-color: transparent !important;
  background-color: var(--zd-accent-color) !important;
}

.checkbox:not(.disabled) .input ~ .label:hover:before {
  border-color: var(--zd-accent-color) !important;
}

.checkbox:not(.disabled) .input:checked ~ .label:active:before {
  background-color: var(--zd-accent-color) !important;
}
/* stylelint-enable declaration-no-important */
