@import './variables.css';

/* stylelint-disable declaration-no-important */
.input:focus {
  border-color: var(--zd-accent-color) !important;
  box-shadow: 0 0 0 3px var(--zd-focus-color) !important;
}

.input:hover {
  border-color: var(--zd-accent-color) !important;
}
/* stylelint-enable */
