@import '@zendesk/garden-css-variables';

:root {
  /* Theme specific accents */
  --zd-accent-color: var(--zd-color-mandy);

  /* Anchor Variables */
  --zd-anchor-color: var(--zd-accent-color);

  /* Button Variables */
  --zd-button-color: var(--zd-accent-color);

  /* Checkbox Variables */
  --zd-checkbox-color: var(--zd-accent-color);

  /* Label Variables */
  --zd-label-color: var(--zd-accent-color);

  /* Menu Variables */
  --zd-menu-color: var(--zd-accent-color);

  /* Pagination Variables */
  --zd-pagination-color: var(--zd-accent-color);

  /* Radio Button Variables */
  --zd-radio-button-color: var(--zd-accent-color);

  /* Range Variables */
  --zd-range-color: var(--zd-accent-color);

  /* Select Variables */
  --zd-select-color: var(--zd-accent-color);

  /* MultiSelect Variables */
  --zd-multi-select-color: var(--zd-accent-color);

  /* Tab Variables */
  --zd-tab-color: var(--zd-accent-color);

  /* Table Variables */
  --zd-table-focus-color: var(--zd-accent-color);

  /* TextInput Variables */
  --zd-text-input-color: var(--zd-accent-color);

  /* Toggle Variables */
  --zd-toggle-color: var(--zd-accent-color);
}
