{
  "plugins": [
    ["transform-imports", {
      "zd-react-components": {
        "transform": "zd-react-components/lib/${member}",
        "preventFullImport": true
      }
    }]
  ],
  "presets": [
    ['es2015', { loose: true, modules: false }],
    "react",
    "stage-0"
  ]
}
