{
  "linters": {
    "*.js": [
      "stylelint",
      "eslint",
      "prettier --write",
      "git add"
    ],
    "*.md": [
      "markdownlint",
      "prettier --write",
      "git add"
    ],
    "**/package.json": [
      "prettier-package-json --write",
      "git add"
    ],
    "*.spec.js": [
      "jest --config=utils/test/jest.config.js"
    ],
  },
  "ignore": ["**/CHANGELOG.md"]
}
