{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "@zendesk/garden-stylelint-config",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "declaration-empty-line-before": null,
    "value-keyword-case": ["lower", { ignoreKeywords: ['dummyValue'] }]
  }
}
