.checkbox {
  composes: c-chk from 'zd-css-forms';
}

.rtl {
  composes: is-rtl from 'zd-css-forms';
}

.focused {
  composes: is-focused from 'zd-css-forms';
}

.input {
  composes: c-chk__input from 'zd-css-forms';
}

.label {
  composes: c-chk__label from 'zd-css-forms';
}

.muted,
.hint {
  composes: c-chk__hint from 'zd-css-forms';
}

.disabled {
  composes: is-disabled from 'zd-css-forms';
}

.message {
  composes: c-chk__message from 'zd-css-forms';
}

.success {
  composes: has-success from 'zd-css-forms';
}

.warning {
  composes: has-warning from 'zd-css-forms';
}

.error {
  composes: has-error from 'zd-css-forms';
}
