.checkbox {
  composes: c-chk from '@zendesk/garden-css-forms';
}

.rtl {
  composes: is-rtl from '@zendesk/garden-css-forms';
}

.focused {
  composes: is-focused from '@zendesk/garden-css-forms';
}

.input {
  composes: c-chk__input from '@zendesk/garden-css-forms';
}

.label {
  composes: c-chk__label from '@zendesk/garden-css-forms';
}

.muted,
.hint {
  composes: c-chk__hint from '@zendesk/garden-css-forms';
}

.disabled {
  composes: is-disabled from '@zendesk/garden-css-forms';
}

.message {
  composes: c-chk__message from '@zendesk/garden-css-forms';
  display: block;
}

.success {
  composes: has-success from '@zendesk/garden-css-forms';
}

.warning {
  composes: has-warning from '@zendesk/garden-css-forms';
}

.error {
  composes: has-error from '@zendesk/garden-css-forms';
}
}
