@import '@zendesk/garden-css-variables';

:root {
  /* Theme specific calculations */
  --zd-accent-color: var(--zd-color-oil);
  --zd-focus-color: color(var(--zd-accent-color) alpha(40%));
  --zd-light-accent-color: var(--zd-color-aluminum);

  /* Anchor Variables */
  --zd-anchor-color: #007fab;

  /* Button Variables */
  --zd-button-color: var(--zd-accent-color);

  /* Checkbox Variables */
  --zd-checkbox-color: var(--zd-light-accent-color);

  /* Label Variables */
  --zd-label-color: var(--zd-accent-color);
  --zd-label-focus-color: var(--zd-focus-color);

  /* Pagination Variables */
  --zd-pagination-focus-color: var(--zd-focus-color);

  /* Radio Button Variables */
  --zd-radio-button-color: var(--zd-light-accent-color);

  /* Range Variables */
  --zd-range-color: var(--zd-light-accent-color);

  /* Select Variables */
  --zd-select-color: var(--zd-light-accent-color);

  /* Tab Variables */
  --zd-tab-color: var(--zd-accent-color);

  /* Table Variables */
  --zd-table-focus-color: var(--zd-accent-color);

  /* TextInput Variables */
  --zd-text-input-color: var(--zd-light-accent-color);

  /* Toggle Variables */
  --zd-toggle-color: var(--zd-accent-color);
}
