.popup {
  position: fixed;
  opacity: 1;
  z-index: 100;
  outline: none;
  border: none;
}

.opening {
  opacity: 0;
}

.popup[aria-hidden='true'] {
  display: inherit;
  visibility: hidden;
}

.stretched.container, .stretched.trigger, .stretched {
  width: 100%;
  height: 100%;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.container,
.trigger {
  display: inline-flex;
}
