.popup {
  position: fixed;
  opacity: 1;
  z-index: 500;
  outline: none;
  border: none;
}

.opening {
  opacity: 0;
}

.popup[aria-hidden='true'] {
  display: inherit;
  visibility: hidden;
}

.stretched.container, .stretched.trigger, .stretched {
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.container,
.trigger {
  display: inline-flex;
}
