.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  composes: l-backdrop from '@zendesk/garden-css-modals';
}

.dialog {
  composes: c-dialog from '@zendesk/garden-css-modals';
}

.open {
  composes: is-open from '@zendesk/garden-css-modals';
}

.rtl {
  composes: is-rtl from '@zendesk/garden-css-modals';
}

.type_transparent {
  composes: l-backdrop--transparent from '@zendesk/garden-css-modals';
}

.type_lightbox {
  composes: l-backdrop--lightbox from '@zendesk/garden-css-modals';
}

.header {
  composes: c-dialog__header from '@zendesk/garden-css-modals';
}

.body {
  composes: c-dialog__body from '@zendesk/garden-css-modals';
}

.footer {
  composes: c-dialog__footer from '@zendesk/garden-css-modals';
}

.close {
  composes: c-dialog__close from '@zendesk/garden-css-modals';
}

.close_focused {
  composes: is-focused from '@zendesk/garden-css-modals';
}
