@import '@zendesk/garden-css-buttons/src/custom';

:root {
  --zd-btn--custom-color: var(--zd-accent-color);
}

/* stylelint-disable declaration-block-no-duplicate-properties */
.type_default {
  composes: c-btn from '@zendesk/garden-css-buttons';
  composes: c-btn--custom;
}
/* stylelint-enable declaration-block-no-duplicate-properties */

.type_anchor {
  composes: c-btn--custom c-btn--anchor;
}

.type_basic {
  composes: c-btn--custom c-btn--basic;
}

.type_primary {
  composes: c-btn--custom c-btn--primary;
}

.selected {
  composes: c-btn--custom is-selected;
}

.focused {
  composes: c-btn--custom is-focused;
}

.active {
  composes: c-btn--custom is-active;
}

.disabled {
  composes: c-btn--custom is-disabled;
}

.group {
  composes: l-btn-group;
}
