@import '@zendesk/garden-css-labels/src/custom';

:root {
  --zd-label--custom-accent-color: var(--zd-label-color);
}

.default {
  composes: c-label from '@zendesk/garden-css-labels';
  composes: c-label--custom;
}

.is_focused {
  composes: is-focused;
}
