@import '@zendesk/garden-css-menus/src/custom';

:root {
  --zd-menu--custom-accent-color: var(--zd-menu-color);
}

/* stylelint-disable declaration-block-no-duplicate-properties */
.menu {
  composes: c-menu from '@zendesk/garden-css-menus';
  composes: c-menu--custom;
  position: relative;
  padding: 0;
}
/* stylelint-enable declaration-block-no-duplicate-properties */

.item {
  composes: c-menu__item;
}

.add_item {
  composes: c-menu__item--add;
}

.next_item {
  composes: c-menu__item--next;
}

.previous_item {
  composes: c-menu__item--previous;
}
