@import '@zendesk/garden-css-pagination/src/custom';

:root {
  --zd-pagination--custom-accent-color: var(--zd-pagination-color);
}

.pagination {
  composes: c-pagination--custom;
}

.page {
  composes: c-pagination__page;
}

.is_focused {
  composes: is-focused;
}
