@import '@zendesk/garden-css-forms/src/custom';

:root {
  --zd-forms--custom-accent-color: var(--zd-range-color);
}

.range {
  composes: c-range c-range--custom;
}

.input {
  composes: c-range__input;
}

.focused {
  composes: is-focused;
}
