@import '@zendesk/garden-css-forms/src/custom';

:root {
  --zd-forms--custom-accent-color: var(--zd-select-color);
}

.txt {
  composes: c-txt c-txt--custom;
}

.input {
  composes: c-txt__input c-txt__input--select;
}

.error {
  composes: has-error;
}

.warning {
  composes: has-warning;
}

.success {
  composes: has-success;
}

.open {
  composes: is-open;
}
