@import '@zendesk/garden-css-tables/src/custom';

:root {
  --zd-table--custom-color: var(--zd-table-focus-color);
}

.table {
  composes: c-table from '@zendesk/garden-css-tables';
  composes: c-table--custom;
}

.table_row {
  composes: c-table__row;
}

.table_row_focused {
  composes: is-focused;
}

.cell {
  composes: c-table__row__cell;
}

.cell_sortable {
  composes: c-table__row__cell__sortable;
}

.ascending {
  composes: is-ascending;
}

.descending {
  composes: is-descending;
}

.rtl {
  composes: is-rtl;
}
