@import '@zendesk/garden-css-tabs/src/custom';

:root {
  --zd-tab--custom-accent-color: var(--zd-tab-color);
}

.tabs {
  composes: c-tab from '@zendesk/garden-css-tabs';
  composes: c-tab--custom;
}

.label {
  composes: c-tab__list__item;
}

.selected {
  composes: is-selected;
}

.focused {
  composes: is-focused;
}

.disabled {
  composes: is-disabled;
}
