@import '@zendesk/garden-css-forms/src/custom';

:root {
  --zd-forms--custom-accent-color: var(--zd-toggle-color);
}

.toggle {
  composes: c-chk c-chk--toggle c-chk--custom;
}

.input {
  composes: c-chk__input;
}

.label {
  composes: c-chk__label;
}

.focused {
  composes: is-focused;
}
