/* stylelint-disable declaration-no-important */
.toggle:not(.disabled) .label:active:before {
  border-color: var(--zd-accent-color) !important;
}

.toggle.focused > .label::before {
  border-color: var(--zd-accent-color) !important;
  box-shadow: 0 0 0 3px var(--zd-focus-color) !important;
}

.toggle:not(.disabled) .input:checked ~ .label:before {
  background-color: var(--zd-accent-color) !important;
}

.toggle:not(.disabled) .input:checked ~ .label:active:before {
  background-color: var(--zd-accent-color) !important;
}
/* stylelint-enable declaration-no-important */
