/* stylelint-disable declaration-no-important */

.tooltip {
  box-shadow: var(--zd-tooltip-box-shadow) !important;
  background: var(--zd-tooltip-background) !important;
  color: var(--zd-tooltip-color) !important;
}
