.tooltip {
  position: fixed;
  /* stylelint-disable */
  composes: c-tooltip c-arrow from '@zendesk/garden-css-tooltips';
  composes: c-arrow from '@zendesk/garden-css-arrows';
  /* stylelint-enable */
}

.size_medium {
  max-width: 270px;
  composes: c-tooltip--medium from '@zendesk/garden-css-tooltips';
}

.size_large {
  composes: c-tooltip--large from '@zendesk/garden-css-tooltips';
}

.left {
  composes: c-arrow--r from '@zendesk/garden-css-arrows';
}

.bottom {
  composes: c-arrow--t from '@zendesk/garden-css-arrows';
}

.top {
  composes: c-arrow--b from '@zendesk/garden-css-arrows';
}

.right {
  composes: c-arrow--l from '@zendesk/garden-css-arrows';
}

.inline {
  position: absolute;
}
