.tabs {
  composes: c-tab from '@zendesk/garden-css-tabs';
}

.list {
  composes: c-tab__list from '@zendesk/garden-css-tabs';
}

.list:focus {
  outline: none;
}

.label {
  composes: c-tab__list__item from '@zendesk/garden-css-tabs';
}

.panel {
  composes: c-tab__panel from '@zendesk/garden-css-tabs';
}

.selected {
  composes: is-selected from '@zendesk/garden-css-tabs';
}

.focused {
  composes: is-focused from '@zendesk/garden-css-tabs';
}

.vertical {
  composes: c-tab--block from '@zendesk/garden-css-tabs';
}

.disabled {
  composes: is-disabled from '@zendesk/garden-css-tabs';
}

.rtl {
  composes: is-rtl from '@zendesk/garden-css-tabs';
}
