/* stylelint-disable max-line-length */

.default {
  composes: c-callout--dark from '@zendesk/garden-css-callouts';
}

.success {
  composes: c-callout--dark c-callout--success from '@zendesk/garden-css-callouts';
}

.warning {
  composes: c-callout--dark c-callout--warning from '@zendesk/garden-css-callouts';
}

.error {
  composes: c-callout--dark c-callout--error from '@zendesk/garden-css-callouts';
}
