{
  "extends": ["@zendeskgarden/stylelint-config"],
  "customSyntax": "postcss-styled-syntax",
  "rules": {
    "block-no-empty": null,
    "declaration-empty-line-before": null,
    "keyframes-name-pattern": null,
    "media-query-no-invalid": null,
    "selector-type-case": null,
    "selector-type-no-unknown": null,
    "time-min-milliseconds": [100, { "ignore": ["delay"] }],
    "value-keyword-case": ["lower", { "ignoreKeywords": ["dummyValue"] }]
  },
  "ignoreFiles": ["packages/**/*.spec.{js,ts,tsx}", "packages/**/dist/**"]
}
