@import 'zd-css-variables';

:root {
  --zd-menu-min-width: 140px;
  --zd-menu--large-min-width: 270px;
}

.container {
  display: inline-block;

  position: relative;
}

.stretched.container, .stretched {
  display: flex;

  width: 100%;
  height: 100%;

  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.menu {
  position: relative;
  padding: 10px initial;

  composes: c-menu from 'zd-css-menus';
}

.size_large {
  composes: c-menu--large from 'zd-css-menus';
}

.size_small.fixed_width {
  max-width: var(--zd-menu-min-width);
}

.size_large.fixed_width {
  max-width: var(--zd-menu--large-min-width);
}

.item {
  composes: c-menu__item from 'zd-css-menus';
}

.item:hover:not(.selected) {
  background: transparent;
}

.item:first-child {
  margin-top: initial;
}

.item:last-child {
  margin-bottom: initial;
}

.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
}

.disabled {
  composes: is-disabled from 'zd-css-menus';
}

.selected {
  composes: is-selected from 'zd-css-menus';
}

.separator {
  composes: c-menu__separator from 'zd-css-menus';
}

.rtl {
  composes: is-rtl from 'zd-css-menus';
}

.position_bottom_stretch,
.position_top_stretch {
  width: 100%;
}

.position_top_right,
.position_top_left,
.position_top {
  composes: c-menu--up from 'zd-css-menus';
}

.position_bottom_right,
.position_bottom_left,
.position_bottom {
  composes: c-menu--down from 'zd-css-menus';
}

.position_left {
  composes: c-menu--left from 'zd-css-menus';
}

.position_right {
  composes: c-menu--right from 'zd-css-menus';
}

.is_open {
  composes: is-open from 'zd-css-menus';
}

.arrow {
  composes: c-arrow from 'zd-css-arrows';
}

.arrow_bottom {
  composes: c-arrow--b from 'zd-css-arrows';
}

.arrow_bottom_left {
  composes: c-arrow--bl from 'zd-css-arrows';
}

.arrow_bottom_right {
  composes: c-arrow--br from 'zd-css-arrows';
}

.arrow_left {
  composes: c-arrow--l from 'zd-css-arrows';
}

.arrow_right {
  composes: c-arrow--r from 'zd-css-arrows';
}

.arrow_top {
  composes: c-arrow--t from 'zd-css-arrows';
}

.arrow_top_left {
  composes: c-arrow--tl from 'zd-css-arrows';
}

.arrow_top_right {
  composes: c-arrow--tr from 'zd-css-arrows';
}
