.rotated {
  composes: is-rotated from '@zendesk/garden-css-buttons';
}

.button {
  composes: c-btn--icon from '@zendesk/garden-css-buttons';
}

.icon {
  composes: c-btn__icon from '@zendesk/garden-css-buttons';
}
