@import '@zendesk/garden-css-variables';

.table {
  composes: c-table from '@zendesk/garden-css-tables';
  /**
   * Necessary due to react-virtualized flexbox
   * implementation with RTL styling
   */
  table-layout: auto;
}

.table_sm {
  composes: c-table--sm from '@zendesk/garden-css-tables';
}

.table_lg {
  composes: c-table--lg from '@zendesk/garden-css-tables';
}

.table_container {
  width: 100%;
  height: 100%;
}

.rtl {
  composes: is-rtl from '@zendesk/garden-css-tables';
}

.grid:focus {
  outline: none;
}

.table_row {
  composes: c-table__row from '@zendesk/garden-css-tables';
  display: flex;
  flex-direction: row;
  align-items: center;
}

.table_row_header {
  composes: c-table__row--header from '@zendesk/garden-css-tables';
}

.table_row_group {
  composes: c-table__row--group from '@zendesk/garden-css-tables';
}

.table_row_zebra {
  composes: c-table__row--stripe from '@zendesk/garden-css-tables';
}

.table_row_focused {
  composes: is-focused from '@zendesk/garden-css-tables';
}

.table_row_selected {
  composes: is-selected from '@zendesk/garden-css-tables';
}

.cell {
  composes: c-table__row__cell from '@zendesk/garden-css-tables';
  display: inline-block;
}

/* Necessary for IE11 flexbox layout bug */
.cell_checkbox {
  display: table-cell;
}

.cell_sortable {
  composes: c-table__row__cell__sortable from '@zendesk/garden-css-tables';
}

.cell_truncate {
  composes: c-table__row__cell--truncate from '@zendesk/garden-css-tables';
}

.cell_min {
  composes: c-table__row__cell--min from '@zendesk/garden-css-tables';
  box-sizing: inherit;
}

.cell_overflow {
  composes: c-table__row__cell__overflow from '@zendesk/garden-css-tables';
}

.cell_description {
  margin-left: 5px;
  color: var(--zd-color-dark-gray);
  font-weight: var(--zd-font-weight-semibold);
}

.table_row:not(.table_row_focused) .cell:first-of-type {
  box-shadow: inherit;
}

.ascending {
  composes: is-ascending from '@zendesk/garden-css-tables';
}

.descending {
  composes: is-descending from '@zendesk/garden-css-tables';
}
