@import '@zendesk/garden-css-variables';

.anchor {
  composes: c-btn c-btn--anchor from '@zendesk/garden-css-buttons';
}

.focused {
  composes: is-focused from '@zendesk/garden-css-buttons';
}

.container {
  display: inline;
}

.container:focus {
  outline: none;
}
