.txt {
  composes: c-txt from 'zd-css-forms';
}

.input {
  composes: c-txt__input c-txt__input--area from 'zd-css-forms';
}

.resizable {
  composes: is-resizable from 'zd-css-forms';
}

.focused {
  composes: is-focused from 'zd-css-forms';
}

.txt:not(.focused) .input:focus {
  box-shadow: none;
}
