.txt {
  composes: c-txt from 'zd-css-forms';
}

.input {
  composes: c-txt__input c-txt__input--area from 'zd-css-forms';
}

.resizable {
  composes: is-resizable from 'zd-css-forms';
}

.label {
  composes: c-txt__label from 'zd-css-forms';
}

.hint {
  composes: c-txt__hint from 'zd-css-forms';
}

.success {
  composes: has-success from 'zd-css-forms';
}

.warning {
  composes: has-warning from 'zd-css-forms';
}

.error {
  composes: has-error from 'zd-css-forms';
}
