.default {
  composes: c-callout from '@zendesk/garden-css-callouts';
}

.success {
  composes: c-callout c-callout--success from '@zendesk/garden-css-callouts';
}

.warning {
  composes: c-callout c-callout--warning from '@zendesk/garden-css-callouts';
}

.error {
  composes: c-callout c-callout--error from '@zendesk/garden-css-callouts';
}

.remove {
  composes: c-callout__close from '@zendesk/garden-css-callouts';
}

.title {
  composes: c-callout__title from '@zendesk/garden-css-callouts';
}

.rtl {
  composes: is-rtl from '@zendesk/garden-css-callouts';
}
