/**
  * Used to make hidden text accessible to screen-readers.
  * Borrowed from the Ebay accessibility standards:
  * https://ebay.gitbooks.io/mindpatterns/content/techniques/offscreentext.html
  */
.u-visibility-screenreader {
  position: absolute;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}
