@import '@zendesk/garden-css-variables';

.stretched {
  flex: 1;
  width: 100%;
}

.txt {
  composes: c-txt from '@zendesk/garden-css-forms';
}

.message {
  composes: c-txt__message from '@zendesk/garden-css-forms';
}

.txt:focus {
  outline: none;
}

.input {
  /* stylelint-disable-next-line max-line-length */
  composes: c-txt__input c-txt__input--select c-txt__input--label from '@zendesk/garden-css-forms';
  min-height: inherit;
}

.label {
  composes: c-txt__label from '@zendesk/garden-css-forms';
}

.hint {
  margin-bottom: 8px;
  composes: c-txt__hint from '@zendesk/garden-css-forms';
}

.size_small {
  composes: c-txt--sm from '@zendesk/garden-css-forms';
}

.success {
  composes: has-success from '@zendesk/garden-css-forms';
}

.warning {
  composes: has-warning from '@zendesk/garden-css-forms';
}

.error {
  composes: has-error from '@zendesk/garden-css-forms';
}

.rtl {
  composes: is-rtl from '@zendesk/garden-css-forms';
}

.open {
  composes: is-open from '@zendesk/garden-css-forms';
}

.focused {
  composes: is-focused from '@zendesk/garden-css-forms';
}

.disabled {
  composes: is-disabled from '@zendesk/garden-css-forms';
}

.text_input {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: 2px;
  outline: none;
  border: none;
  background-color: transparent;
  width: 60px;
  min-height: 25px;
}

.selected_items_container {
  display: flex;
  flex-wrap: wrap;
}

.selected_items_container:focus {
  outline: none;
}

.is_hidden {
  opacity: 0;
  height: 0;
  min-height: 0;
}
