.ReactStyleguidist-common__font {
  font-family: inherit;
  color: #555;
}
.ReactStyleguidist-colors__link,
.ReactStyleguidist-colors__link:active,
.ReactStyleguidist-colors__link:hover,
.ReactStyleguidist-colors__link:link,
.ReactStyleguidist-colors__link:visited {
  color: #30aabc;
}

.ReactStyleguidist-colors__link:focus {
  outline: none;
  opacity: 1;
  text-decoration: underline;
}

.ReactStyleguidist-colors__link:active {
  text-decoration: none;
}

.ReactStyleguidist-ComponentsList__heading {
  font-weight: 600;
}

.ReactStyleguidist-ComponentsList__item {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.81818;
  letter-spacing: .04em;
  font-size: 14px;
  font-weight: 300;
  color: #777;
}

.ReactStyleguidist-ComponentsList__link {
  color: inherit !important;
}

.ReactStyleguidist-ComponentsList__list {
  padding-top: 10px;
  padding-left: 20px;
}

.ReactStyleguidist-Playground__root {
  overflow: visible;
}

.ReactStyleguidist-ReactComponent__primaryHeading {
  line-height: 1.81818;
  letter-spacing: .04em;
  font-size: 25px;
}

.ReactStyleguidist-Section__heading {
  line-height: 1.11111;
  letter-spacing: 1.9px;
  color: #30aabc;
  font-size: 36px;
  font-weight: normal;
}

.ReactStyleguidist-StyleGuide__footer {
  display: none;
}

.ReactStyleguidist-StyleGuide__heading {
  display: none;
}

.ReactStyleguidist-StyleGuide__sidebar {
  left: 300px;
  width: 210px;
  background-color: transparent;
}

.ReactStyleguidist-TableOfContents__search:focus {
  border-color: #30aabc;
}
