@import 'zd-css-variables';

html {
  overflow: hidden;
}

.ReactStyleguidist-common__font {
  color: var(--zd-color-dark-gray);
  font-family: inherit;
}

.ReactStyleguidist-colors__link,
.ReactStyleguidist-colors__link:active,
.ReactStyleguidist-colors__link:hover,
.ReactStyleguidist-colors__link:link,
.ReactStyleguidist-colors__link:visited {
  color: var(--zd-color-pelorous);
}

.ReactStyleguidist-colors__link:focus {
  transition: none;
  opacity: 1;
  outline: none;
  text-decoration: underline;
}

.ReactStyleguidist-colors__link:active {
  text-decoration: none;
}

.ReactStyleguidist-ComponentsList__heading {
  font-weight: var(--zd-font-weight-semibold);
}

.ReactStyleguidist-ComponentsList__item {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: calc(25 / 14);
  letter-spacing: .04em;
  color: var(--zd-color-monsoon);
  font-size: var(--zd-font-size-epsilon);
  font-weight: var(--zd-font-weight-light);
}

.ReactStyleguidist-ComponentsList__link,
.ReactStyleguidist-ComponentsList__link:active,
.ReactStyleguidist-ComponentsList__link:hover,
.ReactStyleguidist-ComponentsList__link:link,
.ReactStyleguidist-ComponentsList__link:visited {
  color: inherit;
}

.ReactStyleguidist-ComponentsList__list {
  padding-top: var(--zd-spacing-sm);
  padding-left: var(--zd-spacing);
}

.ReactStyleguidist-Playground__root {
  overflow: visible;
}

.ReactStyleguidist-ReactComponent__primaryHeading {
  line-height: calc(25 / 14);
  letter-spacing: .04em;
  font-size: var(--zd-font-size-kilo);
}

.ReactStyleguidist-Section__heading {
  line-height: calc(40 / 36);
  letter-spacing: 1.9px;
  color: var(--zd-color-pelorous);
  font-size: var(--zd-font-size-giga);
  font-weight: var(--zd-font-weight-regular);
}

.ReactStyleguidist-StyleGuide__content {
  margin: 0;
  min-width: 640px;
}

.ReactStyleguidist-StyleGuide__footer {
  display: none;
}

.ReactStyleguidist-StyleGuide__heading {
  display: none;
}

.ReactStyleguidist-StyleGuide__sidebar {
  left: 300px;
  background-color: inherit;
  width: 210px;
  overflow-x: hidden;
}

.ReactStyleguidist-TableOfContents__search:focus {
  border-color: var(--zd-color-pelorous);
}
