.ReactStyleguidist-Playground__root {
  overflow: visible;
}

.ReactStyleguidist-Section__heading,
.ReactStyleguidist-ReactComponent__heading {
  line-height: 36px;
}

.ReactStyleguidist-StyleGuide__sidebar {
  width: 210px;
}

.ReactStyleguidist-ComponentsList__item {
  font-size: 14px;
}

:focus {
  outline: 0;
}

*::-ms-clear {
  display: none;
}
