.active {
  composes: is-active from 'zd-css-buttons';
}

.focused {
  composes: is-focused from 'zd-css-buttons';
}

.rtl {
  composes: is-rtl from 'zd-css-buttons';
}

.button {
  composes: c-btn from 'zd-css-buttons';
}

.type_primary {
  composes: c-btn--primary from 'zd-css-buttons';
}

.type_basic {
  composes: c-btn--basic from 'zd-css-buttons';
}

.pill {
  composes: c-btn--pill from 'zd-css-buttons';
}

.size_medium {
  composes: c-btn--medium from 'zd-css-buttons';
}

.size_large {
  composes: c-btn--large from 'zd-css-buttons';
}

.stretched {
  composes: c-btn--full from 'zd-css-buttons';
  flex: 1;
}

.disabled {
  composes: is-disabled from 'zd-css-buttons';
}

.group {
  composes: l-btn-group from 'zd-css-buttons';
}
