.avatar {
  composes: c-avatar from 'zd-css-avatars';
}

.size_small {
  composes: c-avatar--small from 'zd-css-avatars';
}

.size_large {
  composes: c-avatar--large from 'zd-css-avatars';
}

.status_active {
  composes: is-active from 'zd-css-avatars';
}

.status_present {
  composes: is-in from 'zd-css-avatars';
}

.status_away {
  composes: is-out from 'zd-css-avatars';
}

.type_system {
  composes: c-avatar--system from 'zd-css-avatars';
}
