.avatar {
  composes: c-avatar from '@zendesk/garden-css-avatars';
}

.size_small {
  composes: c-avatar--small from '@zendesk/garden-css-avatars';
}

.size_large {
  composes: c-avatar--large from '@zendesk/garden-css-avatars';
}

.status_active {
  composes: is-active from '@zendesk/garden-css-avatars';
}

.status_present {
  composes: is-in from '@zendesk/garden-css-avatars';
}

.status_away {
  composes: is-out from '@zendesk/garden-css-avatars';
}

.type_system {
  composes: c-avatar--system from '@zendesk/garden-css-avatars';
}
