@import "zd-css-variables";
@import "zd-css-forms";

.input {
  composes: c-txt__input;
}

.size_small {
  line-height: 32px;

  height: 32px;
  min-height: 32px;
  padding-top: 0;
  padding-bottom: 0;
}

.type_basic {
  border-color: transparent;
}

.type_basic:hover {
  border: var(--zd-txt__input-border);
}

.type_basic:hover:focus {
  border-color: var(--zd-txt-focused-border-color);
}
