.default {
  composes: c-label from '@zendesk/garden-css-labels';
}

.light {
  composes: c-label c-label--light from '@zendesk/garden-css-labels';
}

.dark {
  composes: c-label c-label--dark from '@zendesk/garden-css-labels';
}

.success {
  composes: c-label c-label--success from '@zendesk/garden-css-labels';
}

.warning {
  composes: c-label c-label--warning from '@zendesk/garden-css-labels';
}

.error {
  composes: c-label c-label--error from '@zendesk/garden-css-labels';
}

.small {
  composes: c-label--sm from '@zendesk/garden-css-labels';
}

.large {
  composes: c-label--lg from '@zendesk/garden-css-labels';
}

.pill {
  composes: c-label--pill from '@zendesk/garden-css-labels';
}

.stretched {
  width: 100%;
}

.avatar {
  composes: c-label__avatar from '@zendesk/garden-css-labels';
}

.remove {
  composes: c-label__remove from '@zendesk/garden-css-labels';
}

.round {
  composes: c-label--round from '@zendesk/garden-css-labels';
}

.rtl {
  composes: is-rtl from '@zendesk/garden-css-labels';
}

.is_focused {
  composes: is-focused from '@zendesk/garden-css-labels';
}
