.rtl {
  composes: is-rtl from '@zendesk/garden-css-buttons';
}

.group {
  composes: l-btn-group from '@zendesk/garden-css-buttons';
}

.active {
  composes: is-active from '@zendesk/garden-css-buttons';
}

.group:focus {
  outline: none;
}

.stretched {
  display: flex;
  flex: 1;
}
