@keyframes appear {
  from { opacity: 0;}
  to { opacity: 1; }
}


.container {
  pointer-events: none;

  opacity: 0;

  animation-name: appear;
  animation-duration: 0.2s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}
