@keyframes appear {
  from { opacity: 0; }

  to { opacity: 1; }
}

.container {
  animation-name: appear;
  animation-duration: .2s;
  animation-delay: .4s;
  animation-fill-mode: forwards;
  pointer-events: none;
  opacity: 0;
}
